
body
{
    margin:0px 0px 0px 0px;
    background: burlywood;
}


#content
{ 
    width:auto;
    margin:auto;
    //padding-top: 200px;
}

.logo
{
    margin: 0 auto;
    display: block;
    padding: 0px;
    width:350px;
}

#header_logo
{
    width: 900px;
    background-image: url(../images/sfondo.png);
    height: 180px;
    padding-top: 6px;
    padding-bottom: 10px;
    border: 2px solid #222;
    position: relative;
    margin: auto;
}

/*Form per il login*/
.formlogin
{
    font-size: 45px;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 25px;
}

/*txtbox username*/
.username
{
    font-size: 20px;
    margin-left: -10px;
    
}

/*txtbox password*/
.password
{
    font-size: 20px;
    margin-left: -10px;
}

#button_log
{
    font-size: 20px;
    margin-left: 70px;
    margin-top: 20px;
}

/*div menu*/
#menu
{
    margin: auto;
    width: 790px;
    position: relative;
}

/*barra di navigazione*/
#navigation
{
    display: inline-block;
    margin-left: 280px;
}


#navigation li
 {
    float: left;
    padding: 5px;
    margin: auto;
    list-style: none;
    margin-right: 40px;
}
 
#navigation li a
{
    text-decoration:none;
    color: #000000;
}

#navigation li a:hover
{
    background-color:#F0E68C;
    padding: 5px;
    border-radius: 10px;
}
 
#navigation li a:active
{
    background-color:#F0E68C;
    border-radius: 10px;
}
 
#navigationUser
{
    display: inline-block;
    margin: auto;
    padding-left: 135px;
}

#navigationUser li
{
    float: left;
    padding: 5px;
    margin: 10px auto;
    list-style: none;
    margin-right: 40px;
}
 
#navigationUser li a
{
    text-decoration:none;
    color: #000000;
}

#navigationUser li a:hover
{
    background-color: #F0E68C;
    padding: 10px;
    border-radius: 10px;
}
 
#navigationUser li a:active
{
    background-color:#F0E68C;
    padding: 10px;
    border-radius: 10px;
}

#navigation2
{
    display: inline-block;
    margin: auto;
    padding-left: 135px;
}

#navigation2 li
{
    float: left;
    padding: 5px;
    margin: 10px auto;
    list-style: none;
    margin-right: 40px;
}
 
#navigation2 li a
{
    text-decoration:none;
    color: #000000;
}

#navigation2 li a:hover
{
    background-color: #F0E68C;
    padding: 10px;
    border-radius: 10px;
 }
 
#navigation2 li a:active
{
    background-color:#F0E68C;
    padding: 10px;
    border-radius: 10px;
}

/**COLONNA CENTRALE**/
#contentx 
{
    width: auto;
    margin-right: auto;
    padding: 5px;
    //float: center;
}

#contentx p
{
    font-size: 20px;
    /* height: 161%; */
    width: 870px;
}


#contentx table 
{
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
    margin-bottom: 15px;
}
#contentx table td 
{
    padding: 10px 10px 10px 0;
    width: 95px;
    font-weight: bold;
}

* a
{
    color:#008800;
}

h1,h2,h3
{ 
    text-align: center;
}

/*OK*/
.box
{
    background-color: #EBAF15;
    border: #272721 solid 2px;
    margin-bottom: 20px;
    font-size: 21px;
    text-align: justify;
    width: 900px;
    margin: auto;
    height: 500px;
}

/*OK*/
.box2
{
    background-color: #EBAF15;
    margin-bottom: 20px;
    font-size: 21px;
    text-align: justify;
    width: 900px;
    margin: auto;
    height: 400px;
    overflow:auto;
    margin-top: 60px;
}

/*Immagine homepage user*/
.illustrazione
{
    display: block;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 194px;
    margin-right: auto;
    margin-left: 0px;
    width: 310px;
    height: 310px;
    float: left;
}

/*Stile staff*/
.staff
{
    display: block;
    padding: 0px;
    margin-bottom: 10px;
    border-radius: 30px;
    margin-right: auto;
    margin-left: 12px;
    width: 140px;
    height: 150px;
}



#footer
{
    border: 2px solid #222;
    width: 900px;
    background: #EBAF15;
    height: 50px;
    padding: 0px;
    margin-top: 0px;
    text-align: center;
    clear: both;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: auto;
}

.messaggi
{
    margin-left: 500px;
}

#staff
{
    display: inline-block;
    float: start;
    margin: auto;
    padding-left: 20px;
    font-size: 18px;
}

#staff li
{
    float: left;
    padding: 5px;
    margin: -5px auto;
    list-style: none;
    margin-right: 47px;
 }

.camere
{
    display: block;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 35px;
    margin-right: auto;
    margin-left: 0px;
    width: 270px;
    height: 200px;
    float: left;
}

#camere
{
    display: inline-block;
    float: left;
    margin: auto;
    margin-right: 65px;
    margin-left: -50px;
    font-size: 20px;
}

#camere li
{
    display: inline-block;
    float: start;
    margin: auto;
    padding-left: 20px;
    font-size: 18px;
}

/*tasti prenota e visualizzaprenotazioni*/
.tblhomeuser
{
    display: inline-block;
    margin: auto;
}
/*tasti prenota e visualizzaprenotazioni*/
.tblhomeuser li
{
    float: left;
    padding: 15px;
    margin: 10px auto;
    list-style: none;
    margin-right: 85px;
}
/*Camere e prezzi*/
.tblhomeuser li a
{
    text-decoration:none;
    color: #000000;
}
/*Camere e prezzi*/
.tblhomeuser li a:hover
{
    background-color: #F0E68C;
    padding: 10px;
    border-radius: 10px;
}
/*Camere e prezzi*/
.tblhomeuser li a:active
{
    background-color:#F0E68C;
    padding: 10px;
    border-radius: 10px;
}
/*Camere e prezzi*/
.tblservizi
{
    margin-left: 10px;
}
/*Camere e prezzi*/
.tblservizi tr
{
    margin-right: 20px
}
/*Camere e prezzi*/
.room, .prezzi
{
    text-align: center;
}
/*staff*/
.tblstaff
{
    margin-left: 10px;
}
/*staff*/
.tblstaff tr
{
    margin-right: 20px
}
/*staff*/
.ruolistaff, .nomistaff
{
    text-align: center;
}
/*table home page di login*/
#tbllogin
{
    width: 100%;   
}
/*Immagini home page di login*/
.img
{
    border-style: solid;
    background-image: url(../images/logo-tripadvisor.jpg);
    height: 200px;
    width: 200px;
    margin-left: 35px;
    border-radius: 100px
}
/*tlbprenota*/
#tblprenota
{
    font-size: 15px;
    width: 100%;
}
/*tlbprenota*/
#tblprenota tr td
{
    padding: 3px;
    width: 50%;
}
/*tlbprenota*/
.avviso
{
    list-style: none;
    color: #9F161C;
    margin-left: 80px;
}
/*visualizza e messaggi*/
.visualizzaEmessaggi
{
    font-size: 25px;
}
/*visualizza e messaggi*/

.visualizzaEmessaggi li
{
    list-style: none;
    text-align: center
}
/*visualizza e messaggi*/
.visualizzaEmessaggi li a
{
    text-decoration:none;
    color: #000000;
}
/*visualizza e messaggi*/
.visualizzaEmessaggi li a:hover
{
    background-color: #F0E68C;
    padding: 10px;
    border-radius: 10px;
}
/*visualizza e messaggi*/
.visualizzaEmessaggi li a:active
{
    background-color:#F0E68C;
    padding: 10px;
    border-radius: 10px;
}
/*visualizza e messaggi*/
.visualizzaEmessaggi ul li
{
    margin: 50px;
}
/*Errori*/
.error
{
    color: #A91E1F;
}
/*attributi tblprenota*/
.tblattributi
{
    margin-left: 80px;
}
/*consigliutili prenotazione*/
.consigliutili
{
    font-size: 13px;
}

.intestazioni
{
    margin-left: -25px;
    font-style: italic;
}

.intestazioni li
{
    //position: absolute;
    float: left;
    list-style: none;
    padding-left: 75px;
}

.liemail
{
    margin-left: 35px;
    margin-right: 52px;
}
.licognome
{
    margin-left: -27px;
}
.lipartenza
{
    margin-left: -27px;
}


.tblprenotazione
{
    width: 90%;
    margin-left: 88px;
    font-size: 17px;
}

.tblprenotazione tr td
{
    margin-left: 20px;
}

.intestazioniadmin
{
    margin-left: 0px;
}
.intestazioniadmin li
{
    float: left;
    list-style: none;
    padding-left: 45px;
}

.lisingola
{
    
}
.lidoppia
{
    
}
.litripla
{
    
}

.liemaila
{
    margin-left: 35px;
    margin-right: 52px;
}
.licognomea
{
    margin-left: -27px;
}
.lipartenzaa
{
    margin-left: -27px;
}
