/*Foglio di stile*/


/*Stile generale per tutte le pagine web */

body{
    background-color: #CD7F32;
    
    font-style:oblique;
    
    font-family:"Lucida Console", monospace;
}

#allPage{
    margin-left:30px;
        
    margin-right:30px;
    
    margin-top:30px;
    
    margin-bottom:30px;
    
    background-color:#F0E840;	 
}
/*Parte header*/

#social{
    float:right;
    margin-right:20px;
}

#facebook{
    background-image: url('../Images/blue-facebook-logo1.png.jpg')
}

#twitter{
    background-image: url('../Images/twitter_new_bird-iphone_1.png')
}

#header{
    
}

#title{
    
}
/*Fine parte header*/

/*Parte bodyPage*/

#bodyPage{
    
}

/*Parte sideSX*/

#sideSX{
    
}

.serch{
    
}

#serch{
    
}

.formPrezzo{
    
}

.formRooms{
    
}

.child{
    
}

.date{
    
}
/*Fine parte sideSX*/

#center{
    
}

#sideDX{
    
}
/*Fine bodyPage*/

