/*Foglio di stile*/


/*Stile generale per tutte le pagine web */

/*Parte di home page*/

body{
    background-color: #CD7F32;
    
    font-style:oblique;
    
    font-family:"Lucida Console", monospace;
}

header{
    border-style: solid;
}
#allPage{
    margin-left:30px;
        
    margin-right:30px;
    
    margin-top:30px;
    
    margin-bottom:30px;
    
    background-color:#F0E840;	 
}
/*Parte header*/

.social{
    float:right;
    
    margin-right:20px;
}

#facebook{
    background-image: url('../Images/fb.png')
}

#twitter{
    background-image: url('../Images/tw.png')
}

#header{
    border-style: solid;
    height: 205px;
}

#title{
    background-image: url('../Images/sfondo.png');
    height: 230px;
    margin-top: -21px;
}

div#title h1{
    color: black;
    
    text-align: center;
    
    padding-top: 80px;
    
    height: 160px;
}

.social ul li{
    display: inline-block;
}

.social ul li a:link{
    color:transparent;
}
/*Fine parte header*/

/*Parte bodyPage*/

#bodyPage{
    background-color: #F0E840;
    
    border-style: solid;
}

/*Parte sideSX*/

#sideSX{
    border-style: solid;
    
    float: left;
    
    width: 253px;
    
    height: 1013px;
    
    background-color: white;
}

div#sideSX .serch{
    padding-left: 38px;
}

div#pay #minimo{
    margin-left: -13px;

    background-color: #FFFF66;
}

div#pay #massimo{
    margin-left: -13px;
    
    background-color: #FFFF66;
}
div#sideSX li{
    list-style-type: none;
}

div#sideSX ul{
    list-style-type: none;
}

.serch{
    
}

#serch{
    
}

.formPrezzo{
    margin-left: -25px;  
}

.formRooms{
    margin-left: -25px;
}

.child{
    margin-left: -25px;
}

.date{
    margin-left: -25px;
}

.date #allSelect{
    padding-left: 20px;
    
    margin-left: 25px;
}

.date #dayAP{
    margin-left: 5px;
}

#sideSX hr{
    margin-left: -80px;
}

#sideSX .date hr{
    margin-left: -55px;
    
}

#buttonCerca{
    border-style: solid;
    
    background-color: #F6AC00;
    
    border-color: black;
    
    height: 50px;
    
    width: 100px;
    
    margin-top: 50px;
}
/*Fine parte sideSX*/

/*Inizio parte center*/

#center{
    border-style: solid;
    
    height: 1003px;
    
    margin-left: 258px;
        
    margin-right: 258px;
    
    padding-bottom: 10px;
    
    padding-left: 10px;
    
    background-color: #FFFF66;
}

#description{
    padding-left: 45px;

    padding-right: 45px;

    padding-top: 45px;

    padding-bottom: 50px;
    
    font-family: cursive;
    
    font-size: 20px;
}

div#center h1{
    margin-left: 315px;
}

#img{
    background-color: black;

    width: 200px;

    height: 200px;

    border-style: solid;

    float: left;

    margin-right: 30px;

    margin-bottom: 10px;
    
    margin-left: 30px;
    
    background-image: url('../Images/casa.jpg')
}

#panel{
    margin-left: 150px;

    margin-right: auto;
}

div#panel ul{
    list-style-type: none;
}

div#panel ul li{
    border-style: outset;

    margin-right: 250px;

    padding-left: 50px;

    border-color: #CD7F32;
}

li#rooms{
    background-color: #F6AC00
}

li#intorni{
    margin-top: 45px;
    
    background-color: #F6AC00
}

li#staff{
    margin-top: 45px;
    
    background-color: #F6AC00
}

ul#list h2{
    
}

ul#list a:link{
    
}

#rooms a:link{
    padding-left: 20px;
    
    color: black;
    
    display: block;
}

#intorni a:link{
    padding-left: 70px;
    
    color: black;
    
    display: block;
}

#staff a:link{
    padding-left: 20px;
    
    color: black;
    
    display: block;
}
/*Fine parte center*/
/*Parte sideDX*/

#sideDX{
    border-style: solid;
    
    float: right;
    
    width: 253px;
    
    height: 1013px;
    
    margin-top: -1019px;
    
    background-color: white;
}

div#sideDX ul{
    list-style-type: none;
}
/*Parte login*/

.login{
    
}

#login{
    margin-left: 60px;
}

.formLogin{
    
}

#formLogin{
    
}

div#formLogin #dati{
    background-color: #FFFF66;
}

#buttonLogin{
    border-style: solid;
    
    background-color: #F6AC00;
    
    border-color: black;

    height: 25px;

    width: 100px;

    margin-top: 20px;

    margin-left: 75px;
}
/*Fine parte login*/

/*Parte registrazione*/

.registrazione{
    
}

#registrazione{
    margin-left: 35px;
}

.formRegistrazione{
    
}

#formRegistrazione{
    
}

div#formRegistrazione #dati{
    background-color: #FFFF66;
}

#buttonReg{
    border-style: solid;

    background-color: #F6AC00;

    border-color: black;

    height: 25px;

    width: 100px;

    margin-top: 20px;

    margin-left: 75px;
}
/*Fine parte registrazione*/
/*Fine sideDX*/

/*Inizio footer*/

#footer{
    background-color: black;
    
    margin-top: -16px;
    
    margin-bottom: auto;
}

#footer p{
    color: white;
    
    margin-left: 555px;
    
    margin-right: auto;
}
/*Fine footer*/

/*Fine bodyPage*/

/*Fine homepage*/
