/*Foglio di stile*/


/*Stile generale per tutte le pagine web */

body{
    background-color: #CD7F32;
    
    font-style:oblique;
    
    font-family:"Lucida Console", monospace;
}

header{
    border-style: solid;
}
#allPage{
    margin-left:30px;
        
    margin-right:30px;
    
    margin-top:30px;
    
    margin-bottom:30px;
    
    background-color:#F0E840;	 
}
/*Parte header*/

.social{
    float:right;
    
    margin-right:20px;
}

#facebook{
    background-image: url('../Images/fb.png')
}

#twitter{
    background-image: url('../Images/tw.png')
}

#header{
    border-style: solid;
    height: 211px;
}

#title{
    background-image: url('../Images/libriopac.jpg');
    height: 230px;
    margin-top: -21px;
}

div#title h1{
    color: black;
    
    text-align: center;
    
    padding-top: 80px;
    
    height: 160px;
}

.social ul li{
    display: inline-block;
}

.social ul li a:link{
    color:transparent;
}
/*Fine parte header*/

/*Parte bodyPage*/

#bodyPage{
    background-color: #F0E840;
    
    padding-bottom: 1000px;
    
    border-style: solid;
}

/*Parte sideSX*/

#sideSX{
    border-style: solid;
    
    float: left;
    
    width: 253px;
}

div#sideSX .serch{
    padding-left: 38px;
}

div#pay #minimo{
    
}

div#pay #massimo{
    
}
div#sideSX li{
    
}

#divsideSX ul li select{
    
}

.serch{
    
}

#serch{
    
}

.formPrezzo{
    margin-left: -25px;  
}

.formRooms{
    margin-left: -25px;
}

.child{
    margin-left: -25px;
}

.date{
    margin-left: -25px;
}
/*Fine parte sideSX*/

#center{
    
}

#sideDX{
    
}
/*Fine bodyPage*/

