/*Foglio di stile*/


/*Stile generale per tutte le pagine web */

body{

	background-color: #CD7F32;

	font-style:oblique;
        
	font-family:"Lucida Console", monospace;
 

}

#Pageindex{
       
 	width:1020px;
        
	margin-left:auto;
        
	margin-right:auto;
        
	margin-top:30px;
        
	margin-bottom:30px;

	background-color:white;
	 
}

#Page{
       
 	width:1020px;
	height:500px
;        
	margin-left:auto;
        
	margin-right:auto;
        
	margin-top:50px;
        
	margin-bottom:auto;

	background-color: #F0DC82;
	border-style: solid;
	border-color: black; 
}


#Title {
 
	Font-size: 50px;	   
	text-align: center;
	padding-top: 5px;
	
}

#Header{

	height:200px;   

	position: relative;    
	background-image: url('../Images/libriopac.jpg');

	background-repeat: repeat-x;

	border-style: solid;
	border-color: black;  
	}

#SideSX{
	border-style: solid;
	border-color: black;
	float: left;
	width: 462px;
	height: 290px;
	text-align: center;
	
	
	}

#SideDX{
	border-style: solid;
	border-color: black;
	width: 546px;
	height: 290px;
	float: right;
	line-height: 10px;
	}

label {
	font-weight: bold;
	text-align: left;
	padding-left:50px;
	display: inline-block;
	width: 35%;
	
	}

button {
	text-decoration: underline;
	}

button#Reg {
	margin-left:312px;
	display: inline-block;
	width: 15%;
	}

div > h4 {
	text-align:center;
	}

input{
	background-color:#EBB55F;
	}

div > h2 {
	text-align:center;
	}

div#Header > h3{
		text-align:center;
		}

#Command {
	float:right;
	margin-right:-5px;
	}

#Title1 {
	Font-size: 30px;	   
	text-align: center;
	}

td{
	border-style: solid;
	border-color: black;
	border-collapse:collapse;
	width:127px;
	text-align:center;
	font-weight: bold;
	
	}

#PageUV{
	width:1155px;
 
	height:813px;       
	margin-left:auto;
        
	margin-right:auto;
        
	margin-top:30px;
        
	margin-bottom:30px;

	border-style: solid;
	border-color: black;
}

#BodypageUV{
	background-color:#F0DC82;
	width:1155px;
 
	height:607px;       
	}

#SideSXUV {
	border-style: solid;
	border-color: black;
	float: left;
	width: 335px;
	height: 600px;
	text-align: center;
}


#SideDXUV {
	border-style: solid;
	border-color: black;
	width: 335px;
	height: 600px;
	text-align: center;
	margin-left:100px;
}

ul {
	text-align: left;
	}

form#RicAv {
	text-align:left;
	line-height: 40px;
	}

select {
	background-color:#EBB55F;
	}

div > h5 {
	font-size: 20px;
	}

button#Cerca{
	width: 220px;
	height:60px;
	margin-left:18%;
	margin-right:auto;
	margin-top:21px;
	font-weight: bold;
	font-size:30px;
	background-color:#EBB55F;
	border-style:inset;
	border-color:black;
	}

#Contabilità > div {
	border-style:solid;
	border-color:black;
	margin-top:-3px;
	margin-left:-3px;
	margin-right:auto;
	width:334px;
	height:105px;
	background-image: url(../images/conto.jpg);
	background-repeat: no-repeat;
	}

p#Cassa{
	font-size:60px;
	margin-top:48px;
	margin-left:70px;
	margin-right:auto;
	margin-bottom:auto;
	}

#Contabilità > label {
	float:left;
	margin-top:2px;
	margin-left:-25px;
	margin-right:-130px;
	font-size:14px;
	line-height:25px;
	}

#Contabilità > p {
	height:19px;
	width:100px;
	float:right;
	margin-right:10px;
	margin-top:-18px;
	border-style:solid;
	border-color:black;
	background-color:#EBB55F;
	}

p#Entrata > output {
	color:green;
	}

p#Uscita > output {
	color:red;
	}

#CenterUV {
	float:center;
	border-style: solid;
	border-color: black;
	height: 600px;
	width: auto;
	margin-left: 341px;
	}
ul.Command {
	list-style: none;
	line-height: 20px;
}

ul.Command > li {
	border-style: inset;
	border-color: #CD7F32;
	line-height: 65px;
	height:65px;
	width:250px;
	margin-top:50px;
	padding-left: 50px;
	font-size: 20px;
	background-color:#EBB55F;
	color: black;
	}

a{
	text-decoration: none;
	}