/* Foglio di stile */

body{
	background-color: #CD7F32;
	font-style:oblique;        
	font-family:"Lucida Console", monospace;
}

.social p {
margin: 10px;
float: left;
}

p.logout {
background: url('../images/logout.png') no-repeat left center;
}