/* Foglio di stile */

body{
	background-color: #CD7F32;
	font-style:oblique;        
	font-family:"Lucida Console", monospace;
}

.logout p {
margin: 10px;
float: right;
}

p.logout {
background: url('../images/logout.png') no-repeat right center;
}